<!doctype html>
<html lang="en">

<!-- Mirrored from themeforesight.netlify.app/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:13 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Green Leaf</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link rel="shortcut icon" href="assets_admin/img/favicon.ico"> -->

  <!-- Theme styles -->
  <link rel="stylesheet" type="text/css" href="assets_admin/css/theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="styles.css"> <!-- Assuming your CSS file is named "styles.css" -->

  <!-- Vendor -->
  <link rel="stylesheet" type="text/css" href="assets_admin/css/vendor.min.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJNV6J8RHQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JJNV6J8RHQ');
  </script>
</head>

