<nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-flex">
    <div class="container-fluid">
      <!-- Form -->
      <form>
        <div class="input-group input-group-flush">
          <div class="input-group-text">
            <i class="fas fa-search relative-top--2"></i>
          </div>


          <div class="dropdown-menu dropdown-menu-card shadow-light-sm">
            <div class="card-body">
              <h6 class="text-uppercase-xs text-gray-500 mb-3">
                Recent searches
              </h6>
              <div class="d-flex justify-content-between">
                <a href="#!" class="fs-sm text-primary">Order #3</a>
                <a href="#!" class="fs-sm text-primary">User notifications</a>
                <a href="#!" class="fs-sm text-primary">Slow queries</a>
              </div>

              <hr>

              <h6 class="text-uppercase-xs text-gray-500 mb-3">
                Customers
              </h6>
              <div class="mb-3">
                <span class="avatar avatar-sm me-2">
                  <img src="/assets_admin/img/uifaces/10.jpg" class="avatar-image rounded-circle" alt="">
                </span>
                <a href="#!" class="link-darkblue">Ernest Hemingway</a>
              </div>
              <div class="d-flex align-items-center mb-3">
                <span class="avatar avatar-sm me-2">
                  <img src="/assets_admin/img/uifaces/7.jpg" class="avatar-image rounded-circle" alt="">
                </span>
                <a href="#!" class="link-darkblue">Maria Popova</a>
                <span class="badge bg-pastel-purple text-darkblue text-uppercase-xs ms-auto">
                  NEW
                </span>
              </div>
              <div class="mb-3">
                <span class="avatar avatar-sm me-2">
                  <img src="/assets_admin/img/uifaces/6.jpg" class="avatar-image rounded-circle" alt="">
                </span>
                <a href="#!" class="link-darkblue">Mark Twain</a>
              </div>
              <div class="mb-3">
                <span class="avatar avatar-sm me-2">
                  <img src="/assets_admin/img/uifaces/4.jpg" class="avatar-image rounded-circle" alt="">
                </span>
                <a href="#!" class="link-darkblue">Joan Didion</a>
              </div>
              <div class="mb-3">
                <span class="avatar avatar-sm me-2">
                  <img src="/assets_admin/img/uifaces/3.jpg" class="avatar-image rounded-circle" alt="">
                </span>
                <a href="#!" class="link-darkblue">F. Scott Fitzgerald</a>
              </div>
              <div class="mb-3">
                <span class="avatar avatar-sm me-2">
                  <img src="/assets_admin/img/uifaces/2.jpg" class="avatar-image rounded-circle" alt="">
                </span>
                <a href="#!" class="link-darkblue">Virgina Woolf</a>
              </div>
              <div>
                <span class="avatar avatar-sm me-2">
                  <img src="/assets_admin/img/uifaces/1.jpg" class="avatar-image rounded-circle" alt="">
                </span>
                <a href="#!" class="link-darkblue">J.R.R. Tolkien</a>
              </div>
            </div>
            <a href="#!" class="card-footer-btn btn btn-purple justify-content-center">
              See all results <i class="fas fa-chevron-right fa-xs ms-2"></i>
            </a>
          </div>
        </div>
      </form>

      <!-- User -->
      <div class="d-flex align-items-center">
        <div class="dropdown d-none d-md-flex">
          <a href="#" class="svg-icon svg-icon-sm" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
              <title>ionicons-v5-j</title>
              <path
                d="M427.68,351.43C402,320,383.87,304,383.87,217.35,383.87,138,343.35,109.73,310,96c-4.43-1.82-8.6-6-9.95-10.55C294.2,65.54,277.8,48,256,48S217.79,65.55,212,85.47c-1.35,4.6-5.52,8.71-9.95,10.53-33.39,13.75-73.87,41.92-73.87,121.35C128.13,304,110,320,84.32,351.43,73.68,364.45,83,384,101.61,384H410.49C429,384,438.26,364.39,427.68,351.43Z"
                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
              <path d="M320,384v16a64,64,0,0,1-128,0V384"
                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
            </svg>
            <div class="rounded-circle bg-primary position-absolute top-0 start-100 translate-middle p-1"></div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-card shadow-light-sm me-n3">
            <div class="card-header">
              <h6 class="card-header-title">
                Notifications (2)
              </h6>
              <a href="#!" class="small">
                View all

                <i class="fas fa-chevron-right fa-xs ms-1"></i>
              </a>
            </div>
            <div class="card-body">
              <a href="#!" class="row text-reset text-decoration-none bg-light rounded py-2 gx-3">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="/assets_admin/img/uifaces/10.jpg" class="avatar-image rounded-circle" alt="">
                  </div>
                </div>
                <div class="col">
                  <div class="fs-sm">
                    <strong>John Smith</strong> mentioned you in a comment.
                  </div>
                  <div class="fs-xs fw-bold text-gray-500 mt-2">
                    3m ago
                  </div>
                </div>
              </a>
              <a href="#!" class="row text-reset text-decoration-none bg-light rounded py-2 gx-3 mt-3">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="/assets_admin/img/uifaces/12.jpg" class="avatar-image rounded-circle" alt="">
                  </div>
                </div>
                <div class="col">
                  <div class="fs-sm">
                    <strong>Mark Twain</strong> added a new project Website.
                  </div>
                  <div class="fs-xs fw-bold text-gray-500 mt-2">
                    1d ago
                  </div>
                </div>
              </a>
              <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="/assets_admin/img/uifaces/9.jpg" class="avatar-image rounded-circle" alt="">
                  </div>
                </div>
                <div class="col">
                  <div class="fs-sm">
                    <strong>Maria Popova</strong> archived the to-do list April Tasks 📂.
                  </div>
                  <div class="fs-xs fw-bold text-gray-500 mt-2">
                    3d ago
                  </div>
                </div>
              </a>
              <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="/assets_admin/img/uifaces/8.jpg" class="avatar-image rounded-circle" alt="">
                  </div>
                </div>
                <div class="col">
                  <div class="fs-sm">
                    <strong>Joan Didion</strong> commented on a project you're assigned in.
                  </div>
                  <div class="fs-xs fw-bold text-gray-500 mt-2">
                    1 week ago
                  </div>
                </div>
              </a>
              <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="/assets_admin/img/uifaces/7.jpg" class="avatar-image rounded-circle" alt="">
                  </div>
                </div>
                <div class="col">
                  <div class="fs-sm">
                    <strong>Ernest Hemingway</strong> mentioned you in a comment.
                  </div>
                  <div class="fs-xs fw-bold text-gray-500 mt-2">
                    1 month ago
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="dropdown mx-4">
          <a href="#" class="svg-icon" data-bs-toggle="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
              <title>ionicons-v5-g</title>
              <line x1="192" y1="448" x2="320" y2="448"
                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
              <path d="M384,208v32c0,70.4-57.6,128-128,128h0c-70.4,0-128-57.6-128-128V208"
                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
              <line x1="256" y1="368" x2="256" y2="448"
                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
              <path
                d="M256,64a63.68,63.68,0,0,0-64,64V239c0,35.2,29,65,64,65s64-29,64-65V128C320,92,292,64,256,64Z"
                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
            </svg>
          </a>
          <div class="dropdown-menu dropdown-menu-end me-n3">
            <a class="dropdown-item" href="#!">
              New podcast
            </a>
            <a class="dropdown-item" href="#!">
              New video
            </a>
            <a class="dropdown-item" href="#!">
              Go live
            </a>
          </div>
        </div>

        <div class="dropdown ms-2">
          <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
            <span class="avatar">
              <img src="/assets_admin/img/uifaces/9.jpg" class="avatar-image rounded-circle" alt="">
            </span>
            <span class="text-dark ms-2">Adrian, G.</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="profile.html">My profile</a>
            <a class="dropdown-item" href="account.html">Account settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="sign-in.html">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>