<header>
    <div class="main_header">
      
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-4">
                        <div class="logo">
                            <!-- <a href="/index"><img src="assets/img/logo/logo.png" alt=""></a> -->
                            <span >
                                <strong>
                                  <span class="green-leaf">Green Leaf</span>
                                </strong>
                              </span>

                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6 col-6">
                        <div class="header_right_info">
                            <div class="search_container">
                                <form action="#">
                                  
                                    <div class="search_box">
                                        <input placeholder="Search product..." type="text">
                                        <button type="submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header_account_area">
                                <div class="header_account-list top_links">
                                    <a href="/user_login"><i class="icon-users"></i></a>
                                  
                                </div>
                                <!-- <% if (message === "true") { %> -->
                                <div class="header_account-list header_wishlist">
                                    <a href="/wishlist"><i class="icon-heart"></i></a>
                                </div>
                                
                                <div class="header_account-list  mini_cart_wrapper">
                                    <a href="javascript:void(0)"><i class="icon-shopping-bag"></i><span
                                            class="item_count">2</span></a>
                                    <!--mini cart-->
<%-include('./_miniCart.ejs') -%>
                                  
                                    <!--mini cart end-->
                                </div>
                                <!-- <%}%> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="categories_menu">
                            <div class="categories_title">
                                <h2 class="categori_toggle">Categories..</h2>
                            </div>
                            <div class="categories_menu_toggle">
                                <ul>
                                    
                                    <li><a href="#"> Indoor</a></li>
                                    <li><a href="#"> Outdoor</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--main menu start-->
                        <div class="main_menu menu_position">
                            <nav>
                                <ul>
                                    <li><a class="active" id="homeLink" href="/index">home</a></li>
                                    <li class="mega_items"><a id="shopLink" href="/shop">shop</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="/about">About Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    
                        <!--main menu end-->
                    </div>
                    <div class="col-lg-3">
                        <div class="call-support">
                            <p>Call Support: <a href="tel:9876543210">9876543210</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

