<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/lukani/lukani/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Jun 2023 10:51:56 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Green Leaf</title>
    <meta name="description" content="">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS 
    ========================= -->
   <!--bootstrap min css-->
   <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
   <!--owl carousel min css-->
   <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
   <!--slick min css-->
   <link rel="stylesheet" href="/assets/css/slick.css">
   <!--magnific popup min css-->
   <link rel="stylesheet" href="/assets/css/magnific-popup.css">
   <!--font awesome css-->
   <link rel="stylesheet" href="/assets/css/font.awesome.css">
   <!--animate css-->
   <link rel="stylesheet" href="/assets/css/animate.css">
   <!--jquery ui min css-->
   <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
   <!--slinky menu css-->
   <link rel="stylesheet" href="/assets/css/slinky.menu.css">
   <!--plugins css-->
   <link rel="stylesheet" href="/assets/css/plugins.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="path/to/sweetalert2.min.css">


    <!--modernizr min js here-->
    <script src="/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="path/to/sweetalert2.min.css">

<!-- VALIDATION -->
<!-- Include jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Include jQuery Validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<!-- Razorpay SDK -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
   
   <!--offcanvas menu area start-->
   <div class="off_canvars_overlay">

   </div>
   <div class="offcanvas_menu">
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <div class="canvas_open">
                       <a href="javascript:void(0)"><i class="icon-menu"></i></a>
                   </div>
                   <div class="offcanvas_menu_wrapper">
                       <div class="canvas_close">
                           <a href="javascript:void(0)"><i class="icon-x"></i></a>
                       </div>
                       <div class="welcome-text">
                           <p>Free Delivery: Take advantage of our time to save event</p>
                       </div>
                       <div class="language_currency text-center">
                           <ul>
                               <li class="currency"><a href="#"> USD <i class="fa fa-angle-down"></i></a>
                                   <ul class="dropdown_currency">
                                       <li><a href="#">EUR</a></li>
                                       <li><a href="#">GPB</a></li>
                                       <li><a href="#">RUP</a></li>
                                   </ul>
                               </li>
                               <li class="language"><a href="#"> English <i class="fa fa-angle-down"></i></a>
                                   <ul class="dropdown_language">
                                       <li><a href="#">French</a></li>
                                       <li><a href="#">Spanish</a></li>
                                       <li><a href="#">Russian</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </div>
                       <div class="search_container">
                           <form action="#">
                               <div class="hover_category">
                                   <select class="select_option" name="select" id="categori2">
                                       <option selected value="1">All Categories</option>
                                       <option value="2">Accessories</option>
                                       <option value="3">Accessories & More</option>
                                     
                                   </select>
                               </div>
                               <div class="search_box">
                                   <input placeholder="Search product..." type="text">
                                   <button type="submit"><i class="icon-search"></i></button>
                               </div>
                           </form>
                       </div>
                       <div class="call-support">
                           <p>Call Support: <a href="tel:0123456789">0123456789</a></p>
                       </div>
                       <div id="menu" class="text-left ">
                           <ul class="offcanvas_main_menu">
                               <li class="menu-item-has-children active">
                                   <a href="#">Home</a>
                                   <ul class="sub-menu">
                                       <li><a href="index.html">Home 1</a></li>
                                       <li><a href="index-2.html">Home 2</a></li>
                                       <li><a href="index-3.html">Home 3</a></li>
                                       <li><a href="index-4.html">Home 4</a></li>
                                       <li><a href="index-5.html">Home 5</a></li>
                                   </ul>
                               </li>
                               <li class="menu-item-has-children">
                                   <a href="#">Shop</a>
                                   <ul class="sub-menu">
                                       <li class="menu-item-has-children">
                                           <a href="#">Shop Layouts</a>
                                           <ul class="sub-menu">
                                               <li><a href="shop.html">shop</a></li>
                                               <li><a href="shop-fullwidth.html">Full Width</a></li>
                                               <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                               <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                               <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                               <li><a href="shop-list.html">List View</a></li>
                                           </ul>
                                       </li>
                                       <li class="menu-item-has-children">
                                           <a href="#">other Pages</a>
                                           <ul class="sub-menu">
                                               <li><a href="cart.html">cart</a></li>
                                               <li><a href="wishlist.html">Wishlist</a></li>
                                               <li><a href="checkout.html">Checkout</a></li>
                                               <li><a href="my-account.html">my account</a></li>
                                               <li><a href="404.html">Error 404</a></li>
                                           </ul>
                                       </li>
                                       <li class="menu-item-has-children">
                                           <a href="#">Product Types</a>
                                           <ul class="sub-menu">
                                               <li><a href="product-details.html">product details</a></li>
                                               <li><a href="product-sidebar.html">product sidebar</a></li>
                                               <li><a href="product-grouped.html">product grouped</a></li>
                                               <li><a href="variable-product.html">product variable</a></li>
                                           </ul>
                                       </li>
                                   </ul>
                               </li>
                               <li class="menu-item-has-children">
                                   <a href="#">blog</a>
                                   <ul class="sub-menu">
                                       <li><a href="blog.html">blog</a></li>
                                       <li><a href="blog-details.html">blog details</a></li>
                                       <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                       <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                   </ul>

                               </li>
                               <li class="menu-item-has-children">
                                   <a href="#">pages </a>
                                   <ul class="sub-menu">
                                       <li><a href="about.html">About Us</a></li>
                                       <li><a href="services.html">services</a></li>
                                       <li><a href="faq.html">Frequently Questions</a></li>
                                       <li><a href="contact.html">contact</a></li>
                                       <li><a href="login.html">login</a></li>
                                       <li><a href="404.html">Error 404</a></li>
                                   </ul>
                               </li>
                               <li class="menu-item-has-children">
                                   <a href="my-account.html">my account</a>
                               </li>
                               <li class="menu-item-has-children">
                                   <a href="about.html">about Us</a>
                               </li>
                               <li class="menu-item-has-children">
                                   <a href="contact.html"> Contact Us</a>
                               </li>
                           </ul>
                       </div>

                       <div class="offcanvas_footer">
                           <span><a href="#"><i class="fa fa-envelope-o"></i> demo@example.com</a></span>
                           <ul>
                               <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                               <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                               <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <!--offcanvas menu area end-->
    