<div class="single-zoom-thumb">
  <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
      <% image.forEach(function(img, index) { %>
          <li>
              <a class="elevatezoom-gallery active" data-update=""
                 data-image="<%= img.url %>"
                 data-zoom-image="<%= image[0].url %>">
                  <img src="<%= img.url %>" alt="zo-th-<%= index + 1 %>" />
              </a>
          </li>
      <% }); %>
  </ul>
</div>
