<!doctype html>
<html lang="en">

<!-- Mirrored from themeforesight.netlify.app/email-verification.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:28 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Email verification | Foresight</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="assets/img/favicon.ico">

  <!-- Theme styles -->
  <link rel="stylesheet" type="text/css" href="assets/css/theme.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- Vendor -->
  <link rel="stylesheet" type="text/css" href="assets/css/vendor.min.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJNV6J8RHQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JJNV6J8RHQ');
  </script>
</head>


<body>
  <div class="row justify-content-center mt-8">
    <div class="col-lg-5 text-center">
      <a href="index.html">
        <img src="assets/img/svg/logo.svg" alt="">
      </a>
      <div class="card mt-5">
        <div class="card-body py-5">
          <div class="svg-icon svg-icon-xl text-purple">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-s</title><polyline points="336 176 225.2 304 176 255.8" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M463.1,112.37C373.68,96.33,336.71,84.45,256,48,175.29,84.45,138.32,96.33,48.9,112.37,32.7,369.13,240.58,457.79,256,464,271.42,457.79,479.3,369.13,463.1,112.37Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
          </div>
          <h3 class="font-weight-normal text-dark mt-4">
            Verify your email
          </h3>
          <p class="mt-4 pt-3 mb-2">
            We've sent a link to your email address:
          </p>
          <p class="h5 mb-3">erick@email.com</p>
          <p>
            Please follow the link inside to continue.
          </p>

          <a href="#!" class="btn btn-purple hover-lift-light mt-4">
            Resend link
          </a>
        </div>
      </div>

      <a href="index.html" class="text-center text-muted d-inline-block text-decoration-none mt-4">
        <span class="svg-icon svg-icon-sm text-muted relative-top--1">
          <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-a</title><polyline points="328 112 184 256 328 400" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
        </span>
        Back to home page
      </a>
    </div>
  </div>

  <!-- JAVASCRIPT
  ============================================-->

  <!-- Vendor -->
  <script src="assets/js/vendor.min.js"></script>


  <!-- Main Theme file -->
  <script src="assets/js/theme.min.js"></script>

</body>

<!-- Mirrored from themeforesight.netlify.app/email-verification.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:28 GMT -->
</html>
